---
layout: page

pageClass: page-type-list
---

<!-- 博客分类列表
{% for post in site.categories.[page.category] %}
       
    {% endfor %}
-->
{% include header.tpl %}

{% for post in site.categories.[page.category]  %}
<article{% if forloop.index == 1 and preview %} content-loaded="1"{% endif %}>
	<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
	{% include meta.tpl %}
	<div class="article-content">
	{% if forloop.index == 1 and preview and post.layout == 'post' %}
		{{ post.content }}
	{% endif %}
	</div>
</article>
{% endfor %}

{% if list == null %}
<article class="empty">
	<p>没了</p>
</article>
{% endif %}